<h1 class="mt-5"> todos los vehiculos </h1>




<button type="button" class="btn btn-primary mt-5" (click)="open1(name1)">agregar un vehiculo</button>

<div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">placa</th>
        <th scope="col">conductor</th>
        <th scope="col">color</th>
        <th scope="col">marca</th>
        <th scope="col">tipo</th>
        <th scope="col">modelo</th>
        <th scope="col">pasajeros</th>
        <th scope="col">ruedas</th>
        <th scope="col">fecha</th>
        <th scope="col">Acciones</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of data">

        <td>{{dat.id_vehiculo}}</td>
        <td>{{dat.placa_vehiculo }}</td>
        <td>{{dat.conductor_vehiculo }}</td>
        <td>{{dat.color_vehiculo}}</td>
        <td>{{dat.marca_vehiculo}}</td>
        <td>{{dat.tipo_vehiculo}}</td>
        <td>{{dat.modelo_vehiculo}}</td>
        <td>{{dat.num_pasajeros_vehiculo}}</td>
        <td>{{dat.num_ruedas_vehiculo}}</td>
        <td>{{dat.anno_vehiculo}}</td>



        <td>

          <button type="button" class="btn btn-success " (click)="open(name, dat.id_vehiculo)">actualizar</button>

          <button type="button" class="btn btn-danger" (click)="eliminarRegistro(dat.id_vehiculo)">eliminar</button>


        </td>


      </tr>





    </tbody>


  </table>



  <ng-template #name let-modal style="width: 110%;">


    <form [formGroup]="formulario" (ngSubmit)="actualizar()">
      <div>

        <div class="modal-header">

          <h4> actualizar un vehiculo</h4>
          <button type="button" class="bi bi-x-lg" (click)="modal.dismiss()">


          </button>
        </div>
        <div class="modal-body">

          <div>

            <div *ngFor="let dat of miArray1">

              <h4> id del vehiculo</h4>
              <input class="form-control" type="number" id="id_vehiculo" formControlName="id_vehiculo"
                placeholder="hola" [(ngModel)]="dat.id_vehiculo" readonly  required>

               


            </div>

            <div class="container mt-5" style="width: 150%;">

              <div class="row justify-content-start">
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">

                    <h4> placa del vehiculo</h4>
                    <input class="form-control" type="text" id="placa_vehiculo" formControlName="placa_vehiculo"
                      placeholder="{{dat.placa_vehiculo}}" required>

                     


                  </div>
                </div>
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">

                    <h4> conductor del vehiculo</h4>
                    <input class="form-control" type="number" id="conductor_vehiculo"
                      placeholder="{{dat.conductor_vehiculo}}" formControlName="conductor_vehiculo" required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> color del vehiculo</h4>
                    <input class="form-control" type="number" id="color_vehiculo" placeholder="{{dat.color_vehiculo}}"
                      formControlName="color_vehiculo" required>

                  </div>
                </div>
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> marca del vehiculo</h4>
                    <input class="form-control" type="number" id="marca_vehiculo" placeholder="{{dat.marca_vehiculo}}"
                      formControlName="marca_vehiculo" required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">

                  <h4> tipo de vehiculo</h4>
                  <input class="form-control" type="number" id="tipo_vehiculo" formControlName="tipo_vehiculo"
                    placeholder="hola" [(ngModel)]="dat.tipo_vehiculo" readonly  required>
    
                   
    
    
                </div>
                </div>


                



                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> modelo del vehiculo</h4>
                    <input class="form-control" type="text" id="modelo_vehiculo" placeholder="{{dat.modelo_vehiculo}}"
                      formControlName="modelo_vehiculo" required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> numero de pasajeros</h4>


                      <select id="num_pasajeros_vehiculo"  placeholder="{{dat.num_pasajeros_vehiculo}}"  formControlName="num_pasajeros_vehiculo">
                        <option value="" disabled selected>Selecciona una opción</option>
                        <option value="1">1 pasajero</option>
                        <option value="2">2 pasajeros</option>
                        <option value="3">3 pasajeros</option>
                        <option value="4">4 pasajeros</option>
                        <option value="5">5 pasajeros</option>
                        <option value="6">6 pasajeros</option>
                        <option value="7">7 pasajeros</option>
                        <option value="8">8 pasajeros</option>
                        <option value="9">9 pasajeros</option>
                        <option value="10">10 pasajeros</option>
                  
                      </select>
    
                  </div>
                </div>
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> numero de ruedas</h4>
                  

                      <select id="num_ruedas_vehiculo"   formControlName="num_ruedas_vehiculo">
                        <option value="" disabled selected>Selecciona una opción</option>
                        <option value="2">2 ruedas</option>
                        <option value="3">3 ruedas</option>
                        <option value="4">4 ruedas</option>
                        <option value="6">6 ruedas</option>
                        <option value="8">8 ruedas</option>
                     
                  
                      </select>



                  </div>
                </div>
              </div>

              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div *ngFor="let dat of miArray1">
                    <h4> fecha</h4>
                    <input class="form-control" type="date" id="anno_vehiculo" placeholder="{{dat.anno_vehiculo}}"
                      formControlName="anno_vehiculo" required>

                  </div>
                </div>

              </div>




            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" type="submit">actualizar</button>
          <button type="button" class="btn btn-danger" (click)="modal.dismiss()">cancelar</button>

        </div>
      </div>
    </form>
  </ng-template>


  <ng-template #name1 let-modal style="width: 110%;">


    <form [formGroup]="formulario" (ngSubmit)="agregar()">
      <div>

        <div class="modal-header">

          <h4> agregar un vehiculo</h4>
          <button type="button" class="bi bi-x-lg" (click)="modal.dismiss()">


          </button>
        </div>
        <div class="modal-body">

          <div>

            <div class="container" style="width: 150%;">

              <div class="row justify-content-start">
                <div class="col-4">
                  <div>

                    <h4> placa del vehiculo</h4>
                    <input class="form-control" type="text" id="placa_vehiculo" formControlName="placa_vehiculo"
                      required>

                  </div>
                </div>
                <div class="col-4">
                  <div>

                    <h4> conductor del vehiculo</h4>
                    <input class="form-control" type="number" id="conductor_vehiculo" formControlName="conductor_vehiculo"
                      required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div>
                    <h4> color del vehiculo</h4>
                    <input class="form-control" type="number" id="color_vehiculo" formControlName="color_vehiculo"
                      required>

                  </div>
                </div>
                <div class="col-4">
                  <div>
                    <h4> marca del vehiculo</h4>
                    <input class="form-control" type="number" id="marca_vehiculo" formControlName="marca_vehiculo"
                      required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div>
                    <h4> tipo del vehiculo</h4>
                    <input class="form-control" type="number" id="tipo_vehiculo" formControlName="tipo_vehiculo" required>

                  </div>
                </div>
                <div class="col-4">
                  <div>
                    <h4> modelo del vehiculo</h4>
                    <input class="form-control" type="text" id="modelo_vehiculo" formControlName="modelo_vehiculo"
                      required>

                  </div>
                </div>
              </div>



              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div>
                    <h4> numero de pasajeros</h4>
                
                      <select id="num_pasajeros_vehiculo"  formControlName="num_pasajeros_vehiculo">
                        <option value="" disabled selected>Selecciona una opción</option>
                        <option value="1">1 pasajero</option>
                        <option value="2">2 pasajeros</option>
                        <option value="3">3 pasajeros</option>
                        <option value="4">4 pasajeros</option>
                        <option value="5">5 pasajeros</option>
                        <option value="6">6 pasajeros</option>
                        <option value="7">7 pasajeros</option>
                        <option value="8">8 pasajeros</option>
                        <option value="9">9 pasajeros</option>
                        <option value="10">10 pasajeros</option>
                  
                      </select>


                  </div>
                </div>
                <div class="col-4">


                  <div>
                    <h4> numero de ruedas</h4>
                   

                      <select id="num_ruedas_vehiculo"   formControlName="num_ruedas_vehiculo">
                        <option value="" disabled selected>Selecciona una opción</option>
                        <option value="2">2 ruedas</option>
                        <option value="3">3 ruedas</option>
                        <option value="4">4 ruedas</option>
                        <option value="6">6 ruedas</option>
                        <option value="8">8 ruedas</option>
                     
                  
                      </select>

                  </div>
                  

                </div>
              </div>

              <div class="row justify-content-start mt-4">
                <div class="col-4">
                  <div>
                    <h4> fecha </h4>
                    <input class="form-control" type="date" id="anno_vehiculo" formControlName="anno_vehiculo" required>

                  </div>
                </div>

              </div>




            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" type="submit">agregar</button>
          <button type="button" class="btn btn-danger" (click)="modal.dismiss()">cancelar</button>

        </div>
      </div>
    </form>
  </ng-template>









</div>